# Core dependencies for nepseutils
cryptography
tabulate

# Required for meroshare interaction
nepseutils

# Standard libraries used (no need to install)
# argparse
# logging
# os
# time
# sys
# json
# cmd
# getpass
# typing
# datetime
# tkinter
# atexit
